<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <title>Kilo's Item Liste</title>
    <script type="text/javascript">
        const itemListURL = "https://raw.githubusercontent.com/Kiloler/Kiloler/master/itemlist.json";
        const eventListURL = "https://raw.githubusercontent.com/Kiloler/Kiloler/master/eventlist.json";
		const traitListURL = "https://raw.githubusercontent.com/Kiloler/Kiloler.github.io/master/traitlist.json";
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Kiloler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/kiloler">Mein Stream</a>
                </li>
				<li class="nav-item active">
                    <a class="nav-link" href="einfuehrung.html">Einführung</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Einführung</h1>
                <p>	Während des zuschauens im Stream, erhält jeder mit der Zeit Punkte. Das Intervall der "Auszahlung" beträgt zwei Minuten. Die Menge die man erhält ist abhängig
				vom eigenen Karma-Wert. Gestartet wird mit 100% Karma. Durch kaufen von Items und "guten" Events erhöht sich dieser Karma-Wert bis auf [PLATZHALTER], 
				wodurch man schneller an Punkte kommt. Genau genommen bekommt man alle zwei Minuten: 30 * [Karma-Wert]. Kauft man jedoch "schlechte" Events so sinkt das Karma.</p>
				<p>Was du nun genau kaufen möchtest, ist dir überlassen.</p>
				<p>Beispielsweise kannst du einen eigenen Bewohner in die Kolonie schicken. Dies geht mit dem "!kaufen bewohner" Befehl. Anschließend tritt ein Pawn
				mit deinem Twitch-Usernamen der Kolonie bei. Kaufe diesem doch einfach eine Waffe, Einrichtungsgegenstände für sein Zimmer oder eine kurze Zeit der 
				Entspannung mittels Rauschmitteln. </p>
				<p>Ich möchte dich hier jetzt aber auch nicht zutexten, am besten du probierst es selbst ein wenig aus. Im folgenden findest du noch einmal alle möglichen Befehle aufgelistet.
				Sollten weitere Fragen bleiben, frag einfach nach ;)</p>
				</div>
        </div>
        <div ng-app='tabs' ng-controller='tabCtrl'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class='tabs'>
                            <form>
                                <div class="form-group">
									<button id="test" class="btn btn-success btn-lg" ng-class="{'active': (selected == '1')}" ng-click='selected=1'>
										<b>Befehle</b>
									</button>
									<button id="test" class="btn btn-success btn-lg" ng-class="{'active': (selected == '2')}" ng-click='selected=2'>
										<b>Beispiele</b>
									</button>
									<a href="index.html" class="btn btn-light active btn-sm" role="button" aria-pressed="true">zurück</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
				<div class="row" ng-show='selected == 1'>
                    <div class="col-md-12">
                        <div id="Befehle">
							<table class="table table-borderless">
							    <thead>
									<tr>
										<th scope="col">Befehl</th>
										<th scope="col">Erklärung</th>
									</tr>
								</thead>
								<tbody>
									<tr><th scope="row">!bal</th><td>Kontostand und Karma-Wert prüfen</td></tr>
									<tr><th scope="row">!kaufen</th><td>Kaufe Items oder Events - <i>Syntax: !kaufen [Name] [Menge]</i> (Menge bezieht sich auf Items)</td></tr>
									<tr><th scope="row">!wasistkarma</th><td>Kurze Erklärung zum Karma-System</td></tr>
									<tr><th scope="row">!modsettings</th><td>Zeigt die Einstellungen der Mod an</td></tr>
									<tr><th scope="row">!mods</th><td>Listet meine aktuell genutzten Mods auf</td></tr>
									<tr><th scope="row">!schenke</th><td>Schenke einem anderen Zuschauer Geld - <i>Syntax: !schenke [Username] [Menge]</i></td></tr>
									<tr><th scope="row">!joinqueue</th><td>Setzt dich auf die Liste einem Bewohner deinen Namen zu geben</td></tr>
									<tr><th scope="row">!mypawnstory</th><td>Zeigt die Background-Story des Bewohners an</td></tr>
									<tr><th scope="row">!mypawnskills</th><td>Zeigt Informationen über die Skills</td></tr>
									<tr><th scope="row">!mypawngear</th><td>Zeigt Informationen über die Ausrüstung</td></tr>
									<tr><th scope="row">!mypawnhealth</th><td>Zeigt Informationen über den Gesundheitszustand</td></tr>
									<tr><th scope="row">!mypawnbody</th><td>Listet alle beschädigte oder ausgetauschte Körperteile auf</td></tr>
									<tr><th scope="row">!levelskill</th><td>Ermöglicht es den Skill in einer bestimmten Tätigkeit zu erhöhen</td></tr>
								</tbody>
							</table>
                        </div>
                    </div>
                </div>
				
                <div class="row" ng-show='selected == 2'>
                    <div class="col-md-12">
                        <div id="Beispiele">
							<table class="table table-borderless">
							    	
								<h1 class="display-20">In diesem Abschnitt werden Beispiele für mögliche Befehle aufgelistet.</h1>
								<p><b>Beispiel 1: !kaufen</b>
									<br>Ihr möchtet beispielsweise 20 Bier kaufen? Das ist ganz einfach, so müsst ihr nur
									<b><i>!kaufen bier 20</b></i> eingeben und schon werden 20 Bier Ingame geliefert. 
									Sucht euch einfach das Item aus der Liste aus, was ihr mir schicken möchtet. 
									Der gleiche Befehl wird auch benutzt, solltet ihr mir Events schicken wollen.
									</br>
								</p>
								<p><b>Beispiel 2: !schenke</b>
									<br>Du möchtest einem anderen Zuschauer (beispielsweise Günther) 200 Münzen zukommen lassen? Dann musst du nur 
									<b><i>!schenke Günther 20</b></i> eingeben und werden Günther 200 Münzen übertragen. 
									</br>
								</p>
								<p><b>Beispiel 3: Informationen zum eigenen Pawn</b>
									<br>Dich interssieren die Eigenschaften, Statuswerte und/oder Kleidungsstücke, die dein Pawn bei sich tragen?
									Kein Problem, frag mich einfach im Chat danach, dann zeige ich sie dir gerne. 
									Doch kannst du das auch ganz leicht selber nachgucken. Dafür stehen dir die Befehle: <b><i>!mypawnstory</b></i>, 
									<b><i>!mypawnskills</b></i>, <b><i>!mypawngear</b></i>, <b><i>!mypawnhealth</b></i> und <b><i>!mypawnbody</b></i>
									zur Verfügung. 
									</br>
								</p>
								<p><b>Beispiel 4: Traits des Pawns bearbeiten</b>
									<br>Die aktuellen Traits deines Pawns gefallen dir nicht? Auch dieses Problem lässt sich lösen.
									Dafür stehen dir zwei Events zur Verfügung. Zum einen kannst du einen Trait entfernen mittels 
									<b><i>!kaufen removetrait [Name]</b></i>. Gib einfach an, welcher der Traits entfernt werden soll. 
									Desweiteren kannst du deinem Pawn bis zu vier Traits angeben. Dies geschieht mit
									<b><i>!kaufen trait [Name]</b></i>. Mit diesem Befehl erhält dein Pawn den von dir angegebenen Trait. 
									Eine Auflistung aller möglichen Traits findest du auf der Startseite unter "Traits" (eigentlich nicht zu übersehen). 
									</br>
								</p>
								
								
							
							</table>
                        </div>
                    </div>
                </div>
				
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
        </div>
        
    </main>
	<footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="index.html">Zur Startseite</a>
            </p>
        </div>
    </footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <style>
        .sort:after {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid transparent;
            content: "";
            position: relative;
            top: -10px;
            right: -5px;
        }
        
        .sort.asc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #fff;
            content: "";
            position: relative;
            top: 4px;
            right: -5px;
        }
        
        .sort.desc:after {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #fff;
            content: "";
            position: relative;
            top: -4px;
            right: -5px;
        }
    </style>
    <script type="text/javascript">
        let itemList = null;
        $.getJSON(itemListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'category'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="category"></td></tr>'
            };

            var itemData = [];
            $.each(data.items, function(index, value) {
                if (value["price"] > 0) {
                    itemData.push(value);
                }
            });

            itemList = new List('items', options, itemData);
        });

        let eventList = null;
        $.getJSON(eventListURL, function(data) {
            var options = {
                valueNames: ['abr', 'price', 'karmatype'],
                item: '<tr><td class="abr" scope="row"></td><td class="price"></td><td class="karmatype"></td></tr>'
            };

            var eventData = [];
            $.each(data.incitems, function(index, value) {
                if (value["price"] > 0) {
                    eventData.push(value);
                }
            });

            eventList = new List('events', options, eventData);
        });
		
		let traitList = null;
        $.getJSON(traitListURL, function(data) {
            var options = {
                valueNames: ['abr', 'category2'],
                item: '<tr><td class="abr" scope="row"></td><td class="category2"></td>'
            };

            var traitData = [];
            $.each(data.traits, function(index, value) {
                traitData.push(value);
            });

            traitList = new List('traits', options, traitData);
        });

        $("#item-price-min").keyup(function() {
            updateItemFilter();
        });

        $("#item-price-max").keyup(function() {
            updateItemFilter();
        });

        function updateItemFilter() {
            var minPrice = $("#item-price-min").val();
            var maxPrice = $("#item-price-max").val();
            itemList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
	    eventList.filter(function(item) {
                var allow = true;
                if (minPrice != "" && parseInt(item.values().price) < minPrice) {
                    allow = false;
                }
                if (maxPrice != "" && parseInt(item.values().price) > maxPrice) {
                    allow = false;
                }
                return allow;
            });
        }
    </script>
    <script type="text/javascript">
        var tabs = angular.module('tabs', [])
            .controller('tabCtrl', function($scope) {
                $scope.selected = "1";
            });
    </script>
	<script>
		funktion clipboard(value){
			var text = document.getElementById('text');
			text.select();
			if(value == 'copy') {
				document.execCommand('copy');
			} else {
				document.execCommand('cut');
			}
		}
</body>

</html>
